# Created by https://www.toptal.com/developers/gitignore/api/pulumi,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=pulumi,visualstudiocode

### Pulumi ###
# Ignore temp build directory for Pulumi
# Info: https://www.pulumi.com/docs/

.pulumi/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/pulumi,visualstudiocode